<p id="notice"><%= notice %></p>


<p>
  <b>Name:</b>
  <%= @feed.name %>
</p>

<p>
  <b>Url:</b>
  <%= @feed.url %>
</p>

<p>
</p>
<hr/>
<% @entries.each do |entry| %>
  <h2><%= entry.title %></h2>
  <h5>By <%#= entry.author%>, posted on <%= entry.published_at %></h5>
  <p>Summary: <%= raw(entry.summary) %></p>
  <p>Content: <%= raw(entry.content)%>
  <p>Trends: <%= get_entry_trends(entry) %></p>
  <hr/><br/>
<%end%>

<%= link_to 'Edit', edit_feed_path(@feed) %> |
<%= link_to 'Back', feeds_path %>
