<p id="notice"><%= notice %></p>


<p>
  <b>Name:</b>
  <%= @feed.name %>
</p>

<p>
  <b>Url:</b>
  <%= @feed.url %>
</p>

<p>
</p>
<hr/>
<% @entries.each do |entry| %>
  <h2><%= entry.title %></h2>
  <h5>By <%#= entry.author%>, posted on <%= entry.published_at %></h5>
  <p><b>Quick Summary: </b> <%= strip_tags(raw(entry.summary)) %></p>
  <hr/>
  <p><b>Content: </b> <%= strip_tags(raw(entry.content)) %>
  <p><b>Trends: </b><% entry.trends.each do |trend| %><%= trend.name %><br/><%end%> </p>
  <hr/><br/>
<%end%>

<%= link_to 'Edit', edit_feed_path(@feed) %> |
<%= link_to 'Back', feeds_path %>
