  <div class="blogs">
      <% @blogs.each do |blog| %>
      <div class="blog">
        <div class="blog_title fl">
          <span><%= link_to blog.title, blog%></span>
        </div>
        <div class="blog_info fl">
          <span class="">Category: <%= blog.category_id %></span><br/>
          <span class="">Posted by: <%= blog.user.name %></span>
        </div>
        <div class="blog_options fr">
          <span class="option">Re-Trend</span><br/>
          <span class="option">Comment</span><br/>
          <% if can? :update, blog %>
            <%= link_to 'Edit', edit_blog_path(blog) %>
          <% end%>
          <% if can? :update, blog %>
            <%= link_to 'Destroy', blog, :confirm => 'Are you sure?', :method => :delete %>
          <% end%>
        </div>
        <div class='clear'></div>

      </div>
      <% end %>
  </div>