<table>
  <tr>
    <th>User</th>
    <th>Category</th>
    <th>Title</th>
    <th>Post</th>
    <th>Trends </th>
    <th>Url</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @blogs.each do |blog| %>
  <tr>
    <td><%= blog.user_id %></td>
    <td><%= blog.category_id %></td>
    <td><%= blog.title %></td>
    <td><%= blog.post %></td>
    <td><% blog.trends.each do |trend| %> <%= link_to trend.name, trend_path(trend.name) %><br/> <% end%></td>
    <td><%= blog.url %></td>
    <td><%= link_to 'Show', blog %></td>
    <td><%= link_to 'Edit', edit_blog_path(blog) %></td>
    <td><%= link_to 'Destroy', blog, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>