<h1>Listing blogs</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Post</th>
    <th>Trends </th>
    <th>Url</th>
    <th>Category</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @blogs.each do |blog| %>
  <tr>
    <td><%= blog.title %></td>
    <td><%= blog.post %></td>
    <td><% blog.trends.each do |trend| %> <%= link_to trend.name, trend_path(trend.name) %><br/> <% end%></td>
    <td><%= blog.url %></td>
    <td><%= blog.category_id %></td>
    <td><%= blog.user.name %></td>
    <td><%= link_to 'Show', blog %></td>
    <%# raise (cannot? :update, blog).inspect%>
    <% if can? :update, blog %>
      <td><%= link_to 'Edit', edit_blog_path(blog) %></td>
    <% end%>
    <% if can? :destroy, blog %>
      <td><%= link_to 'Destroy', blog, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end%>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Blog', new_blog_path %>
