<% content_for :left_menu do%>
  <div class="subscribe">  <%= link_to 'Subscirbe to Blogs', feeds_path %></div>
  <span class="section_title">Categories</span>
  <ul id="blog_filters">
     <% if params[:filter].blank?%>
       <%= link_to blogs_path(:filter => nil), :class=>"active-link", :id=>"All" do%>
         <li class="filter">
              <span>All </span>
         </li>
       <%end%>
     <%else%>
       <%= link_to blogs_path(:filter => nil), :class=>"filter-link" do%>
         <li class="filter">
              <span>All </span>
         </li>
       <%end%>
     <%end%>
    <% FeedCategory.all.each do |cat| %>
      <% if params[:filter] == cat.name%>
        <%= link_to blogs_path(:filter => cat.name), :class=>"active-link", :id =>"#{cat.name}"  do%>
          <li class="filter">
               <span><%= cat.name.humanize %> </span>
          </li>
        <%end%>
      <%else%>
        <%= link_to blogs_path(:filter => cat.name), :class=>"filter-link", :id =>"#{cat.name}"  do%>
          <li id="<%= cat.name%>" class="filter">
               <span><%= cat.name.humanize %> </span>
          </li>
        <%end%>
      <%end%>
    <%end%>
  </ul>
<%end%>

<% content_for :right_menu do%>
  <%= link_to "Refresh Blogs", blogs_refresh_path %>
<%end%>

<div class="content" id="blogs">
  <div class="title"><span>Blog Hop</span></div>
  <p>Here are the blogs that you have subscirbed to!</p>
  <div class="blogs">
      <% @blogs.each do |blog| %>
      <% if !blog.title.include?("Ad")%>
      <div class="blog">
        <div id="<%= blog.feed.feed_category.name.split(" ").first %>" class="fr blog_origins">
          <%= blog.feed.name%>
        </div>
        <div class="blog_title fl">
          <div class="fl" id="title"><%= link_to blog.title, blog_path(blog) %> </div>
        </div>
          <span style="margin: 0 0 5px 10px; " class="fl">Posted: <%= blog.published_at %></span>
        <div class='clear'></div>

        <div class="blog_info">
          <span class="fl"><%= pluralize(blog.trend_count, "person", "people") %> have trended this post. </span>
          <span class="fl"><%= link_to "View Original Article", "#{blog.url}" %> </span>
        </div>
        <div class="blog_content">
          <p><%= strip_tags(raw(blog.summary)) %></p>
        </div>
        <div class="blog_trends">
          <span>Trends in this blog: </span>
          <%# blog.trends.each do |trend| %>
            <span> <%#= link_to trend.name, trend_path(trend.name) %></span>
          <%# end%>
        </div>
      </div>
      <% end %>
      <%end%>
  </div>
</div>