<% content_for :left_menu do %>
  <p>Options: </p>
    <%= link_to "More from this Blog", feed_path(@blog.feed_id)%><br/>
    <%= link_to 'Back to Blog Hop', blogs_path %> <br/>
     <%= link_to nil, :id => "trend-article-button" do%>
        <div role="button" class="retrend-button">Trend this Article</div>
      <% end%>
    Like this Article
<%end%>

<div class='content' id="blog">
  <div class="blog-title">
     <%= @blog.title %>
  </div>

  <div class="blog-info">
    Posted: <%= @blog.published_at %>
  </div>
  <div class="clear"></div>
  <div class="blog-content">
    <p><%= sanitize(raw(@blog.content), :tags => %w(p blockquote)) %></p>
    <b>Attached websites:</b>  <%= link_to @blog.url, @blog.url %>
  </p>

  </div>
  <div class="blog-trends">
    <span class="section_title">Trends: </span>
    <div class="blog-list">
      <% @blog.trends.each do |trend| %>
      <span class="tag fl"><%= link_to trend.name, trend_path(trend.name)%></span>
      <%end %>
      <div class="clear"></div>
    </div>
  </div>
</div>