<% content_for :left_menu do %>
  <p>Options: </p>
    <%= link_to "More from this Blog", feed_path(@blog.feed_id)%><br/>
    <%= link_to 'Back to Blog Hop', blogs_path %> <br/>
    <a href="" id="trend-article-button">Trend this Article</a><br/>
    Like this Article
<%end%>

<div class='content' id="blog">
  <div class="blog-title">
     <%= @blog.title %>
  </div>

  <div class="blog-info">
    <%#= link_to "Trend this Article!", trend_blog_path(@blog.id) %>
    <!-- <div class="fl">Posted by: <span id="user"><%#= @blog.user.name %></span> </div>
    <div class="fr" style="width:200px;">Category: <span id="category"><%#= @blog.category_id %> </span> </div> -->
  </div>
  <div class="clear"></div>
  <div class="blog-content">
    <p><%= strip_tags(raw(@blog.content)) %></p>
    <b>Attached websites:</b>
    <%= @blog.url %>
  </p>

  </div>
  <div class="blog-trends">
    <span class="section_title">Trends: </span>
    <div class="blog-list">
      <% @blog.trends.each do |trend| %>
      <div class="blog-trend fl"><%= link_to trend.name, trend_path(trend.name)%></div>
      <%end %>
      <div class="clear"></div>
    </div>
  </div>
</div>