<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @blog.user_id %>
</p>

<p>
  <b>Category:</b>
  <%= @blog.category_id %>
</p>

<p>
  <b>Title:</b>
  <%= @blog.title %>
</p>

<p>
  <b>Post:</b>
  <%= @blog.post %>
</p>
<p>
  <b>Trends: <b>
    <% @blog.trends.each do |trend| %>
      <%= link_to trend.name, trend_path(trend.name)%><br/>
    <%end %>
</p>
<p>
  <b>Url:</b>
  <%= @blog.url %>
</p>


<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
