<% if user_signed_in? %>
<div class="fr beta alpha">
   <div class="profile-mini">
      <div class="profile-menu fr" id="drop-down-button">
        <%= image_tag("/assets/Append.png")%>
      </div>
      <div class="profile-name fr">
        <%= link_to current_user.full_name, current_user %>
      </div>
      <div class="fr">
        <%= link_to image_tag("/assets/Profile.png", :class=>"profile-pic-mini fl"), user_path(current_user)%>
      </div>

       <div class="clear"></div>
    </div>
</div>
<% else%>
<div class="fl beta">
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
<div style="margin-top:0;">
  <div class="fl"><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div class="fl"><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <p class="fl"><%= f.submit "Sign in" %></p>

  <div class="clear"></div>
  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>
</div>
</div>
<% end %>

<%end%>
