<div id="user_search">
<% if @users.blank?%>
  <h3>There are no users!</h3>
<%else%>
  <% @users.each do |user| %>
    <div class="table_row">
      <div class="fl name"><%= link_to user.full_name, user %></div>
      <div class="clear"></div>
      <div class="fl sex"><%= user.sex %></div>
      <div class="fl birth"><%= user.birth_date%></div>
      <div class="clear"></div>
      <div class="fl location"><%= user.city %>, <%= user.state_id %></div>
      <div class="clear"></div>
      <div class="fl count">Posts: <%= user.posts.count %></div>
      <div class="fl count">Trends: <%= user.trends.count %></div>
      <% if can? :manage, user%>
        <div class="fl"><%= link_to 'Edit', edit_user_path(user) %></div>
        <div><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></div>
      <%end%>
    </div>
    <div class="clear"></div>
  <% end %>
    <div class="clear"></div>
<%end%>
</div>