<% content_for :left_menu do%>
 <br/><br/>
   <ul class="trend_filters">
     <% sections = ["about","posts", "trends", "likes", "friends"]%>
     <% sections.each do |section| %>
       <% if @section== section%>
         <%= link_to user_path(@user, :section => section), :class=>"filter-link", :id=>"active-filter" do%>
           <li class="filter">
                <span><%= section.humanize %> </span>
           </li>
         <%end%>
       <%else%>
         <%= link_to user_path(@user, :section => section), :class=>"filter-link" do%>
           <li class="filter">
                <span><%= section.humanize %> </span>
           </li>
         <%end%>
       <%end%>
     <%end%>
   </ul>
 <%end%>

<% content_for :page_title do%>
<div class="user-top">
  <div class="fr">
    <%if @user != current_user%>
    <%# raise @friend.inspect%>
      <% if @friend.blank?%>
        <div class="fr">
          <%= link_to create_friends_path(:id => @user.id) do%>
            <div role="button" class="button add_friend">Follow <%=@user.first_name %> </div>
          <%end%>
        </div>
      <% else%>
        <div class="fr">
          <%= link_to destroy_friends_path(:id => @user.id), :confirm => "Stop following?", :method => :delete do%>
            <div role="button" class="button remove_friend">Stop Following </div>
          <%end%>
        </div>
      <%end%>
    <%end%>
    <% if can? :update, @user %>
      <div class='clear'></div>
      <div class="fr">
        <%= link_to edit_user_path(@current_user) do%>
          <div role="button" class="button edit">Edit </div>
        <% end%>
      </div>
    <%end%>
  </div>
  <div>
    <div class="fl">
      <%= image_tag ("/assets/Profile.png"), :style =>"height:100px; width:80px;" %>
    </div>
    <div class="fl">
      <div class="first-name"><%= @user.first_name %></div><br/>
      <div class="last-name"><%= @user.last_name %> </div>
    </div>
    <div class="clear"></div>
  </div>
</div>
<% end%>

<div class="content" id="user_show">

<% case @section %>
  <% when "about"%>

  <div class="user-about">
    <div class="about-section">
      <div class="about-subsection">
        <span>Birthday</span>
      </div>
      <div class="info-subsection">
        <span><%= @user.birth_date %></span>
      </div>
      <div class="clear"></div>
    </div>

    <div class="about-section">
      <div class="about-subsection">
        <span>Gender</span>
      </div>
      <div class="info-subsection">
        <span><%= @user.sex.humanize %></span>
      </div>
      <div class="clear"></div>
    </div>

    <div class="about-section">
      <div class="about-subsection">
        <span>Occupation</span>
      </div>
      <div class="info-subsection">
        <span>Student </span>
      </div>
      <div class="clear"></div>
    </div>

    <div class="about-section">
      <div class="about-subsection">
        <span>Location</span>
      </div>
      <div class="info-subsection">
        <span> <%= @user.city%>, <%= @user.state_id %>
      </div>
      <div class="clear"></div>
    </div>

    <div class="about-section">
      <div class="about-subsection">
        <span>Education</span>
      </div>
      <div class="info-subsection">
        <span>College: </span>
        <div class="fr">Montclair State University </div>
      </div>
      <div class="clear"></div>
    </div>

  </div>

  <% when "posts"%>

    <p>
      <b>Posts by You: </b>
      <%= render :partial => "posts/index"%>
    </p>

  <% when "trends"%>
    <p>
      <b>Trends: </b>
      <%= render :partial => "trends/index" %>
    </p>
  <% when "likes" %>

  <% when "friends"%>
  <% if !@friends.blank? %>
    <% @friends.each do |friend|%>
      <p><%= friend.full_name %> </p>
    <% end%>
  <% else%>
    <p>You have no friends?!?! </p>
  <%end%>
<% end%>

</div>