<table>
  <tr>
    <th>Name</th>
    <th>Trend category</th>
    <th>Like count</th>
    <th>Trend count</th>
    <th>TrendHops
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @trends.each do |trend| %>
  <tr>
    <td><%= link_to trend.name, trend_path(trend.name) %></td>
    <td><%= trend.trend_category_id %></td>
    <td><%= trend.like_count %></td>
    <td><%= trend.trend_count %></td>
    <td><% trend.trends.each do |hop| %> <%= link_to hop.name, trend_path(hop.name) %><br/> <% end%> </td>
    <td><%#= link_to 'Show', trend %></td>
    <td><%#= link_to 'Edit', edit_trend_path(trend) %></td>
    <td><%#= link_to 'Destroy', trend, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>