 <% content_for :right_menu do%>
  <br/><br/>
    <span class="section_title">Sort by: </span>
    <ul class="trend_filters">
      <% filters = ["recent","popular", "today", "past_week", "past_month", "men", "women"]%>
      <% filters.each do |filter| %>
        <% if params[:filter] == filter%>
          <%= link_to trends_path(:filter => filter), :class=>"filter-link", :id=>"active-filter" do%>
            <li class="filter">
                 <span><%= filter.humanize %> </span>
            </li>
          <%end%>
        <%else%>
          <%= link_to trends_path(:filter => filter), :class=>"filter-link" do%>
            <li class="filter">
                 <span><%= filter.humanize %> </span>
            </li>
          <%end%>
        <%end%>
      <%end%>
    </ul>
  <%end%>

<div class="content" id="trends">
  <div class="title"><span>What's Trending? </span> </div>
  <ul class="trends_list">
  <% @trends.each do |trend| %>
    <% if !trend.post_contents.blank? %>
    <li class="trend">
    <div class="trend_title"># <%= link_to trend.name, trend_path(trend.name), :id=> "trend"%></div>
    <div class="clear"></div>
      <div class="trend_info fl">
        <span style="font-size: 25px; font-weight:bold;"><%= trend.trend_count %></span> People trending<br/>
        <span style="font-size: 25px; font-weight:bold;"><%= trend.entry_feeds.count%></span> Blogs trending<br/>
        <span style="font-size: 25px; font-weight:bold;"><%= trend.like_count%></span> Likes
      </div>
      <div class="trend_contents fl">
        <div class="trend_list fl">
          <div class="subsection_title">Recent Posts: </div>
          <ul class="list_items">
            <% trend.post_contents.each do |post| %>
            <% post.posts.each do |p|%>
              <% if !p.blank? || p != ""%>
                <% @link_post = p%>
              <%end%>
            <%end%>
            <li>  <%= link_to post.content, post_path(@link_post), :id=> "post" %><br/></li>
            <% end%>
          </ul>
        </div>
        <div class="trend_list fl">
          <div class="subsection_title">Recent Blogs: </div>
          <ul class="list_items">
            <% trend.entry_feeds.each do |entry| %>
            <li>  <%= link_to entry.title, blog_path(entry), :id=> "entry" %><br/></li>
            <% end%>
          </ul>
        </div>
      </div>


      <div class="clear"></div>
      <div class="trend_hops" class="fl">
        <span class="trend_section_info fl">Hop to a related trend: </span>
        <ul class="trend_hop fl">
          <% trend.trends.order("trend_count DESC").limit(6).each do |hop| %>
          <li>  <%= link_to hop.name, trend_path(hop.name), :id => "trend" %><br/></li>
          <% end%>
        </ul>
      </div>
      <div class="clear"></div>
      <%#= link_to 'Show', trend %>
      <%#= link_to 'Edit', edit_trend_path(trend) %>
      <%#= link_to 'Destroy', trend, :confirm => 'Are you sure?', :method => :delete %>

    </li>
    <%end%>
  <% end %>
  </ul>
</div>