<div class="content" id="trends">
  <div class="title"><span>What's Trending? </span> </div>
  <ul class="trends_list"><% @trends.each do |trend| %>
    <li class="trend">
      <div class="trend_info fl">
        <h4 class="trend_title"><%= link_to trend.name, trend_path(trend.name) %></h4>
        <span>Category: <%= trend.trend_category_id %> </span><br/>
        <span><%= pluralize (trend.trend_count, "person is", "people are") %> trending this.</span><br/>
        <span><%= pluralize (trend.post_contents.count, "post is", "posts are") %> trending this.</span>
      </div>
      <div id="trend_blogs" class="fl">
        <span class="subsection_title">Recent posts: </span>
        <ul class="trend_blog">
          <% trend.post_contents.each do |post| %>
          <li>  <%= link_to post.content, post_path(post.posts.first) %><br/></li>
          <% end%>
        </ul>
      </div>
      <div id="trend_hops" class="fl">
        <span class="subsection_title">Hop to a related trend: </span>
        <ul class="trend_hop">
          <% trend.trends.each do |hop| %>
          <li>  <%= link_to hop.name, trend_path(hop.name) %><br/></li>
          <% end%>
        </ul>
      </div>
      <div class="clear"></div>
      <%#= link_to 'Show', trend %>
      <%#= link_to 'Edit', edit_trend_path(trend) %>
      <%#= link_to 'Destroy', trend, :confirm => 'Are you sure?', :method => :delete %>

    </li>
  <% end %>
  </ul>
</div>