<div class="content">
  <h1>Listing trends</h1>

    <tr>
      <th>Name</th>
      <th>Trend category</th>
      <th>Like count</th>
      <th>Trend count</th>
      <th>TrendHops
      <th></th>
      <th></th>
      <th></th>
    </tr>

  <ul class="trends_list"><% @trends.each do |trend| %>
    <li class="trend">
      <h4 class="trend_title fl"><%= link_to trend.name, trend_path(trend.name) %></h4>
      <div class="trend_info fr">
        <span><%= trend.trend_category_id %> </span>
        <span><%= trend.like_count %></span>
        <span><%= trend.trend_count %></span>
      </div>
      <div class="clear"></div>

      <ul class="trend_hops">
        <li><% trend.trends.each do |hop| %>
          <%= link_to hop.name, trend_path(hop.name) %><br/>
        <% end%></li>
      </ul>
      <%#= link_to 'Show', trend %>
      <%#= link_to 'Edit', edit_trend_path(trend) %>
      <%#= link_to 'Destroy', trend, :confirm => 'Are you sure?', :method => :delete %>

    </li>
  <% end %>
  </ul>
</div>