<div class='content' id="trend_show">

  <div class="trend-title">
    Viewing trendormation on <span id="title"><%= @trend_search %> </span>
  </div>
  <div class="trend-info">
    <div class="fl" id="category">
      <% case @categories.count%>
      <% when "0"%>
        No Categories Found
      <% when "1"%>
        Category: <%= @categories.first %>
      <% else %>
        Categories:
        <% @categories.each do |cat| %>
          <span><%= cat %>
        <%end%>
      <%end%>
    </div>
    <div class="fl" id="count">
      Trend count: <%= trend_counts(@trends) %>
    </div>
  </div>

  <% content_for :right_menu do%>
    <span class="section_title">Hop to another trend: </span>
    <ul id='trend_list'>

      <% if @trend_hops.blank? %>
      <li class="trend_item" style="margin-left: auto; margin-right: auto;">
        <p>There are no Trends to hop to! </p>
      </li>
      <% else%>
      <% @trend_hops.each do |trend|%>
      <li class="trend_item fl">
        <div class="trend-row">
          <span id="hop-title"><%= link_to trend.name, trend_path(trend.name) %></span>
        </div>
        <div class="trend-row">
          <span id="hop-count"><%= pluralize(trend.trend_count, "person" )%> trending this. </span>
        </div>
      </li>
      <% end%>
      <div class="clear">
      <% end%>
    </ul>
  <%end%>

  <div class="clear"></div>

  <div class="trend_posts">
    <span class="section_title">What people are saying: </span>

    <%= render :partial => "posts/index"%>
  </div>

  <%= link_to 'Edit', edit_trend_path(@trend) %> |
  <%= link_to 'Back', trends_path %>

</div>