<p>
  <b>Trend:</b>
  <%= @trend.name %>
</p>

<p>
  <b>Trend category:</b>
  <%= @trend.trend_category_id %>
</p>


<p>
  <b>Like count:</b>
  <%= @trend.like_count %>
</p>

<p>
  <b>Trend count:</b>
  <%= @trend.trend_count %>
</p>

<p>
  <b>Hop to another trend / Related trends: </b><br/>
  <% @trend.trends.each do |trend|%>
  <%= link_to trend.name, trend_path(trend.name) %><br/>
  <% end%>
</p>

<hr/>

<p>
  <b>Blogs: </b>
  <%= render :partial => "blogs/index"%>
</p>

<%= link_to 'Edit', edit_trend_path(@trend) %> |
<%= link_to 'Back', trends_path %>
