<div id="trend_show">
  <div class="trend-title">
    <span id="title"># <%= @trend_search.humanize %> </span>
    <% if is_follow_trend(@trends.first).blank? %>
    <%= link_to follow_trends_path(:id => @trends.first.id), :class=>"fr" do%>
      <div role="button" class="follow-button">Add to Favorites</div>
    <%end%>
  <%else%>
    <%= link_to unfollow_trends_path(:id => @trends.first.id), :class=>"fr" do%>
      <div role="button" class="unfollow-button">Remove from Favorites</div>
    <%end%>
  <%end%>
  </div>
  <div class="trend-info">
    <div id="category">
      <%= pluralize(like_counts(@trends), "person", "people") %> like <%= @trend_search.humanize%>
    </div>
    <div id="category">
      <%= pluralize(trend_counts(@trends), "person is", "people are") %> trending <%= @trend_search.humanize%>
    </div>
    <div id="count">
      <%= pluralize(blog_counts(@trends), "blog is", "blogs are") %> trending <%= @trend_search.humanize%>
    </div>
  </div>
  <div class="clear"></div>

  <% content_for :right_menu do%>
    <span class="section_title">Hop to another trend: </span>
    <ul id='trend_list'>

      <% if @trend_hops.blank? %>
      <li class="trend_item" style="margin-left: auto; margin-right: auto;">
        <p>There are no Trends to hop to! </p>
      </li>
      <% else%>
      <% @trend_hops.each do |trend|%>
      <li class="trend_item fl">
        <div class="trend-row">
          <span id="hop-title"><%= link_to trend.name, trend_path(trend.name) %></span>
        </div>
        <div class="trend-row">
          <span id="hop-count"><%= pluralize(trend.trend_count, "person" )%> trending this. </span>
        </div>
      </li>
      <% end%>
      <div class="clear">
      <% end%>
    </ul>
  <%end%>

  <div class="clear"></div>

  <div class="fl trend_posts">
    <span class="title">What People are saying: </span>
    <%= render :partial => "posts/content"%>
  </div>
  <div class="fl trend_posts">
    <span class="title">Blogs containing <%=@trend_search%> </span>
    <%= render :partial => "blogs/content"%>
  </div>
    <div class="clear"></div>
</div>