<div class='content' id="trend_show">

  <div class="trend-title">
    Viewing trendormation on <span id="title"><%= @trend.name %> </span>
  </div>
  <div class="trend-info">
    <div class="fl" id="category">
      Category:
      <%= @trend.trend_category_id %>
    </div>
    <div class="fl" id="count">
      Trend count: <%= @trend.trend_count %>
    </div>
  </div>

  <% content_for :right_menu do%>
    <span class="section_title">Hop to another trend: </span>
    <ul id='trend_list'>
      <% if @trend.trends.blank? %>
      <li class="trend_item" style="margin-left: auto; margin-right: auto;">
        <p>There are no Trends to hop to! </p>
      </li>
      <% else%>
      <% @trend.trends.each do |trend|%>
      <li class="trend_item fl">
        <div class="trend-row">
          <span id="hop-title"><%= link_to trend.name, trends_path(trend.name) %></span>
        </div>
        <div class="trend-row">
          <span id="hop-count"><%= pluralize(trend.trend_count, "person" )%> trending this. </span>
        </div>
      </li>
      <% end%>
      <div class="clear">
      <% end%>
    </ul>
  <%end%>

  <div class="clear"></div>

  <div class="trend_posts">
    <span class="section_title">What people are saying: </span>

    <%= render :partial => "posts/index"%>
  </div>

  <%= link_to 'Edit', edit_trend_path(@trend) %> |
  <%= link_to 'Back', trends_path %>

</div>