<% content_for :top_section do%>
<div class="grid_16" id="trend-top-section">
  <div class="trend-section">
    <div class="title-trends">
      <span>TOP TRENDS </span>
    </div>
    <div class="trends-viewer">
      <div class="trends-list-container">
        <div class="trends-panel">
          <% @top_trends.each do |trend|%>
            <div class="trend-body fl">
              <div class="title">
                  <span><%= trend.name %></span>
              </div>
              <div class="stats">
                <div class="people_stat"><%= trend.trend_count %></div>
                <div class="blog_stat"><%= trend.blogs.count%></div>
              </div>
            </div>
          </div>
        <%end%>
      </div>
      <div class="clear"></div>
    </div>
  </div>
  <div class="trend-section">
     <div class="title-trends">
        <span>TRENDS YOU FOLLOW </span>
      </div>
      <div class="trends-list">
        <% @following_trends.each do |trend|%>
          <div class="trend-body fl">
            <div class="title">
                <span><%= trend.name %></span>
            </div>
            <div class="stats">
              <div class="people_stat"><%= trend.trend_count %></div>
              <div class="blog_stat"><%= trend.blogs.count%></div>
            </div>
          </div>

        <%end%>
      </div>
  </div>
Universal:
*Top Trends
*Most Recent Trends

!! d(posts)/dt
!! d(trends)/dt

Trends you follow:
*Most recent blogs & trends?
</div>
<%end%>

<% content_for :left_menu do%>
 <br/><br/>
   <span class="section_title">Show posts from:</span>
   <ul class="trend_filters">
      <% if params[:group].blank?%>
        <%= link_to root_path(:group => nil), :class=>"filter-link", :id=>"active-filter" do%>
          <li class="filter">
               <span>All </span>
          </li>
        <%end%>
      <%else%>
        <%= link_to root_path(:group => nil), :class=>"filter-link" do%>
          <li class="filter">
               <span>All </span>
          </li>
        <%end%>
      <%end%>
     <% @current_user.groups.each do |group| %>
       <% if params[:group] == group.name%>
         <%= link_to root_path(:group => group.name), :class=>"filter-link", :id=>"active-filter" do%>
           <li class="filter">
                <span><%= group.name.humanize %> </span>
           </li>
         <%end%>
       <%else%>
         <%= link_to root_path(:group => group.name), :class=>"filter-link" do%>
           <li class="filter">
                <span><%= group.name.humanize %> </span>
           </li>
         <%end%>

       <%end%>
     <%end%>
   </ul>
 <%end%>

<div class="content" id="post_index">
  <!-- <div class="title"><span>Who's Trending What? </span> </div> -->
  <% if @posts.blank? %>
      <h2 style="widht:100%; text-align:center;">There are no posts to repots!</h2>
  <%else%>
    <ul class="posts_list">
    <% @posts.each do |post| %>
      <li class="post">
        <% @post1 = post %>
        <% if @post1.entry_feed_id.blank? %>
          <%= render :partial => "posts/post" %>
        <%else%>
          <%= render :partial => "posts/post_with_blog" %>
        <%end%>

      </li>
        <div class="clear"></div>
    <% end %>
    </ul>
  <%end%>


</div>
