<% content_for :top_section do%>
<div class="grid_16 alpha beta" id="trend-top-section">
  <div id="menu"><%= render "menu"%></div>
</div>
<%end%>

<% content_for :left_menu do%>

 <div class="left_menu_post_select">
   <div class="section_title"><span>Show posts from:</span></div>
   <ul class="trend_filters">
      <% if params[:group].blank?%>
        <%= link_to root_path(:group => nil), :class=>"filter-link", :id=>"active-filter" do%>
          <li class="filter">
               <span>All </span>
          </li>
        <%end%>
      <%else%>
        <%= link_to root_path(:group => nil), :class=>"filter-link" do%>
          <li class="filter">
               <span>All </span>
          </li>
        <%end%>
      <%end%>
     <% @current_user.groups.each do |group| %>
       <% if params[:group] == group.name%>
         <%= link_to root_path(:group => group.name), :class=>"filter-link", :id=>"active-filter" do%>
           <li class="filter">
                <span><%= group.name.humanize %> </span>
           </li>
         <%end%>
       <%else%>
         <%= link_to root_path(:group => group.name), :class=>"filter-link" do%>
           <li class="filter">
                <span><%= group.name.humanize %> </span>
           </li>
         <%end%>

       <%end%>
     <%end%>
   </ul>
  </div>
 <%end%>

<div class="content" id="post_index">
  <div class="title"><span>Who's Trending What? </span> </div>
  <% if @posts.blank? %>
      <h2 style="widht:100%; text-align:center;">There are no posts to repots!</h2>
  <%else%>
    <div class="paginate"> <%= paginate @posts, :windows => 4 %></div>
    <ul class="posts_list">
    <% @posts.each do |post| %>
      <li class="post">
        <% @post1 = post %>
        <% if @post1.entry_feed_id.blank? %>
          <%= render :partial => "posts/post" %>
        <%else%>
          <%= render :partial => "posts/post_with_blog" %>
        <%end%>

      </li>
        <div class="clear"></div>
    <% end %>
    </ul>
    <div class="paginate"> <%= paginate @posts, :windows => 4 %></div>
  <%end%>

</div>
