<div class="content" id="posts">
  <div class="title"><span>Who's Trending What? </span> </div>
  <ul class="posts_list"><% @posts.each do |post| %>
    <li class="post">
      <div class="fr">
        <%= link_to "Retrend", retrend_posts_path(:post_id => post.id)%>
      </div>
      <div class="post_content">
        <div class="post_title">
          <%= link_to post.user.name, user_path(post.user), :id=>"name"%> <%= post.retrend_post_id.blank? ? "is trending " : "is RE-trending " %> <%= raw(list_trends(post)) %>
          <% if !post.retrend_post_id.blank?%> from <%= link_to post.retrend_user.name, user_path(post.retrend_user)%> <% end%>
          </div> on <%= post.created_at.to_s(:mdy_dots)%>
        <div class="content"> <%= post.content %> </div>
            <div class="clear"></div>
      </div>

      <div class="post_info fl">
        <%#raise post.trends.classify.inspect%>
        <!-- <span>Category: <%#= post.category_id %> </span><br/> -->
        <% post.retrend_post_id.blank? ? posted = post : posted = Post.where(:id => post.retrend_post_id).first %>
        <% posted.trends.each do |trend| %>
        <span> <%= pluralize (trend.trend_count, "person is", "people are") %> trending <%= trend.name%>.</span>
        <%end%>
      </div>
      <div class="trend_hops fl">
        <span class="subsection_title">Hop to related trends: </span>
        <ul class="trend_hop">
          <% check_for_unique = true%>
          <% post.trends.each do |hop| %>
            <% if !post.trends.include?(hop)%>
              <% check_for_unique = false%>
              <li id='hop'>  <%= link_to hop.name, trend_path(hop.name) %></li>
            <%end%>
          <% end%>
          <% if check_for_unique == true %>
            <li>-- none -- </li>
          <% end%>
        </ul>
      </div>
      <div class="clear"></div>
      <%#= link_to 'Show', trend %>
      <%#= link_to 'Edit', edit_trend_path(trend) %>
      <%#= link_to 'Destroy', trend, :confirm => 'Are you sure?', :method => :delete %>

    </li>
  <% end %>
  </ul>



</div>
