<% content_for :left_menu do%>
 <br/><br/>
   <span class="section_title">Show posts from:</span>
   <ul class="trend_filters">
      <% if params[:group].blank?%>
        <%= link_to root_path(:group => nil), :class=>"filter-link", :id=>"active-filter" do%>
          <li class="filter">
               <span>All </span>
          </li>
        <%end%>
      <%else%>
        <%= link_to root_path(:group => nil), :class=>"filter-link" do%>
          <li class="filter">
               <span>All </span>
          </li>
        <%end%>
      <%end%>
     <% @current_user.groups.each do |group| %>
       <% if params[:group] == group.name%>
         <%= link_to root_path(:group => group.name), :class=>"filter-link", :id=>"active-filter" do%>
           <li class="filter">
                <span><%= group.name.humanize %> </span>
           </li>
         <%end%>
       <%else%>
         <%= link_to root_path(:group => group.name), :class=>"filter-link" do%>
           <li class="filter">
                <span><%= group.name.humanize %> </span>
           </li>
         <%end%>
       <%end%>
     <%end%>
   </div>
 <%end%>

<div class="content" id="post_index">
  <!-- <div class="title"><span>Who's Trending What? </span> </div> -->
  <ul class="posts_list">

  <% @posts.each do |post| %>
    <li class="post">

      <div class="post_content">
        <div class="post_title">
          <%= link_to post.user.full_name, user_path(post.user), :id=>"name"%> <%= post.retrend_post_id.blank? ? "is trending " : "is RE-trending " %> <%= raw(list_trends(post)) %>

          <% if post.retrend%>
            <span class='fr'>from <%= link_to post.retrend_user.full_name, user_path(post.retrend_user_id)%> </span>
          <% end%>

        </div>
        <div class="fl post-date">
          <div class="time">
            <%= post.created_at.to_s(:time_only) unless post.created_at.blank?%>
          </div>
          <div class="date">
            <%= post.created_at.to_s(:date_only) unless post.created_at.blank?%>
          </div>
          <div class="year">
            <%= post.created_at.to_s(:year_only) unless post.created_at.blank?%>
          </div>
        </div>
        <div class="content fl"> <%= post.post_content.content %> </div>
        <div class="clear"></div>

      </div>

      <div class="post_info fl">
        <%#if !post.retrend %>
          <div class="button1">
          <% case post.retrended?(current_user) %>
            <% when 0%>
            <%when 1%>
              <%= link_to untrend_posts_path(:post_id => post.id) do%>
                <div role="button" class="untrend-button">Un-Trend</div>
              <%end%>
            <%when 2%>
              <%= link_to retrend_posts_path(:post_id => post.id) do%>
                <div role="button" class="retrend-button">Re-Trend</div>
              <% end%>
          <%end%>
          <% if post.user == current_user%>
            <%= link_to hide_posts_path(:post_id => post.id), :confirm => 'Do you want to make this post disappear?' do%>
              <div role="button" class="untrend-button">Hide Post?</div>
            <%end%>
          <%end%>
          </div>
        <%# end%>
        <% if  !post.retrend_count.blank? %>
          <div>
            <div class="clear"></div>
              <%= pluralize(post.retrend_count, "person has", "people have") %> re-trended this.
          </div>
        <% end%>

        <!-- <%# post.retrend_post_id.blank? ? posted = post : posted = Post.where(:id => post.retrend_post_id).first %>
                <%# posted.trends.each do |trend| %>
                <span> <%#= pluralize(trend.trend_count, "person is", "people are") %> trending <%#= trend.name%>.</span>
                <%#end%> -->
      </div>
      <div class="trend_hops fl">
        <span class="subsection_title">Hop to related trends: </span>
        <ul class="trend_hop">
          <%  post.trend_hop.each do |hop|%>
            <li class="fl" id='hop'>  <%= link_to hop.name, trend_path(hop.name) %></li>
          <% end%>
          <% if post.trend_hop.blank?%>
            <li>-- none -- </li>
          <% end%>

        </ul>
      </div>
      <div class="fl over_section">
        <%= link_to post_path(post), :class=>"post-link" do%>
          >>
        <%end%>
      </div>
      <div class="clear"></div>
      <%#= link_to 'Show', trend %>
      <%#= link_to 'Edit', edit_trend_path(trend) %>
      <%#= link_to 'Destroy', trend, :confirm => 'Are you sure?', :method => :delete %>
      <div id="comments_index">
        <div class="comments">
          <% post.comment_posts.each do |comment| %>
            <div class="comment-item">
              <span class="comment-user"><%= link_to comment.user.full_name, user_path(comment.user), :id =>"user" %> commented: </span>
              <p class="comment-body"><%= comment.body%></p>
            </div>
          <% end%>
        </div>

        <div class="post_comments">
          <%= form_for([post, post.comment_posts.build]) do |f| %>
            <%= f.hidden_field :commenter, :value => current_user.id %>
            <div class="field">

              <%= f.text_area :body %>
            </div>
            <div class="actions">
              <%= f.submit(:value => "Comment") %>
            </div>
          <% end %>
        </div>
      </div>
    </li>
      <div class="clear"></div>
  <% end %>
  </ul>



</div>
