<% content_for :left_menu do%>
 <br/><br/>
   <span class="section_title">Show posts from:</span>
   <ul class="trend_filters">
      <% if params[:group].blank?%>
        <%= link_to root_path(:group => nil), :class=>"filter-link", :id=>"active-filter" do%>
          <li class="filter">
               <span>All </span>
          </li>
        <%end%>
      <%else%>
        <%= link_to root_path(:group => nil), :class=>"filter-link" do%>
          <li class="filter">
               <span>All </span>
          </li>
        <%end%>
      <%end%>
     <% @current_user.groups.each do |group| %>
       <% if params[:group] == group.name%>
         <%= link_to root_path(:group => group.name), :class=>"filter-link", :id=>"active-filter" do%>
           <li class="filter">
                <span><%= group.name.humanize %> </span>
           </li>
         <%end%>
       <%else%>
         <%= link_to root_path(:group => group.name), :class=>"filter-link" do%>
           <li class="filter">
                <span><%= group.name.humanize %> </span>
           </li>
         <%end%>
       <%end%>
     <%end%>
   </div>
 <%end%>

<div class="content" id="post_index">
  <!-- <div class="title"><span>Who's Trending What? </span> </div> -->
  <ul class="posts_list">
  <% @posts.each do |post| %>
    <li class="post">
      <% @post1 = post %>
      <% raise post.inspect %>
      <%= render :partial => "posts/post" %>

    </li>
      <div class="clear"></div>
  <% end %>
  </ul>



</div>
