<%= form_for [@post, @post_content] do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :user_id, :value => @user.id %>
  </div>
  <!-- <div class="field">
    <%#= f.label :category_id %><br />
    <%#= f.number_field :category_id %>
  </div> -->
  <div class="field" >
    <%= f.text_area @post_content.content, :rows=>'4', :style=>"width:550px;" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  <hr/>
<% end %>
