<%= form_for (@special_post) do |f| %>
  <div class="field">
    <%= f.hidden_field :user_id, :value => @current_user.id %>
  </div>
  <!-- <div class="field">
    <%#= f.label :category_id %><br />
    <%#= f.number_field :category_id %>
  </div> -->
  <%= f.fields_for :post_content do |post_form| %>
    <div class="field" >
      <%= post_form.text_area :content, :rows=>'4' %>
    </div>
  <% end%>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
