<%= form_for (@special_post) do |f| %>
  <div class="field">
    <%= f.hidden_field :user_id, :value => @current_user.id %>
  </div>
  <!-- <div class="field">
    <%#= f.label :category_id %><br />
    <%#= f.number_field :category_id %>
  </div> -->
  <% if !@blog.blank? %>
    <%= f.fields_for :post_content do |post_form| %>
      <div class="field_2" >
        <%= post_form.text_area :content, :rows=>'2' %>
      </div>
    <% end%>
      <div class="info_field">
        <%= f.hidden_field :entry_feed_id, :value => @blog.id %>
        <%= @blog.title%>
      </div>

  <%else%>
    <%= f.fields_for :post_content do |post_form| %>
      <div class="field_1" >
        <%= post_form.text_area :content, :rows=>'4', :id => "input_content", :value => "" %>
      </div>
      <div class="field" >
        <%= f.label :trends %>
        <%= f.text_field :trends, :id => "tags", :value => "" %>
      </div>
    <% end%>
  <%end%>
  <div class="cancel-action fl">
    <a href="" id="cancel-trend">Cancel</a>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
