<div class="content" id="post_show">
  <div class="post_root">
    <div class="post_content">
      <div class="post_title">
        <%= link_to @post.user.full_name, user_path(@post.user), :id=>"name"%> <%= @post.retrend_post_id.blank? ? "trended " : "RE-trended " %> <%= raw(list_trends(@post)) %>

        <br/>
        <div class="post_date" > on <%= @post.created_at.to_s(:mdy_dots) unless @post.created_at.blank?%> </div>
      </div>
      <div class="content">
        <p><%= @post.post_content.content %> </p>
      </div>
      <div class="clear"></div>

      <%if !@post.retrend %>
      <div class="fr">
        <%= link_to "Retrend", retrend_posts_path(:post_id => @post.id)%>
      </div>
      <% end%>
      <% if  !@post.retrend_count.blank? %>
      <div class="fl">
        <%= pluralize(@post.retrend_count, "person has", "people have")%> re-trended this post.
      </div>
      <% end%>

      <div class="clear"></div>
    </div>

    <div class="post_info fl">
      <% @post.retrend_post_id.blank? ? posted = @post : posted = Post.where(:id => @post.retrend_post_id).first %>
      <% posted.trends.each do |trend| %>
      <span> <%= pluralize(trend.trend_count, "person is", "people are") %> trending <%= link_to trend.name, trend_path(trend.name), :id=> "trend"%>.</span><br/>
      <%end%>
    </div>

    <div class="trend_hops fl">
      <span class="subsection_title">Hop to related trends: </span>
      <ul class="trend_hop">
        <%  @post.trend_hop.each do |hop|%>
          <li class="fl" id='hop'>  <%= link_to hop.name, trend_path(hop.name), :id=> "trend" %></li>
        <% end%>
        <% if @post.trend_hop.blank?%>
          <li>-- none -- </li>
        <% end%>

</ul>
    </div>

  </div>
  <div class="clear"></div>
  <hr/>

  <div id="comments_index">
    <div class="comments">
      <% @post.comment_posts.each do |comment| %>
        <div class="comment-item">
          <span class="comment-user"><%= link_to comment.user.full_name, user_path(comment.user) %> commented: </span>
          <p class="comment-body"><%= comment.body%></p>
        </div>
      <% end%>
    </div>

    <div class="post_comments">
      <h4>Add a comment: </h2>
      <%= form_for([@post, @post.comment_posts.build]) do |f| %>
        <div class="field">
          <%= f.label :commenter %><br />
          <%= f.hidden_field :commenter, :value => current_user.id %>
        </div>
        <div class="field">
          <%= f.label :body %><br />
          <%= f.text_area :body %>
        </div>
        <div class="actions">
          <%= f.submit %>
        </div>
      <% end %>
    </div>
  </div>

</div>