<!-- Header -->
<div id="header_container">
  <div class="container_16">
    <div id="header">
      <header>
       <div class="grid_4 omega fl">
        <% if user_signed_in? %>
          <div>Welcome to TrendHop, <%= current_user.name %> </div><br/>
            <%= link_to "Sign out!", destroy_user_session_path %>
        <% else%>
            <%= link_to "Sign up!", new_user_registration_path %><br/>
            <%= link_to "Sign in!", new_user_session_path %>
        <% end%>
        </div>
        <div class="grid_8 fl">
          <h2>TrendHop </h2>
        </div>
        <div class="grid_4 fl">
          <%= link_to "Home", root_path %>
          <%= link_to "Profile", user_path(current_user) unless current_user.blank? %>
          <%= link_to "Blogs", blogs_path %>
          <%= link_to "Trends", trends_path%>
        </div>

        </header>
    </div>
  </div>
</div>

<!-- End Header -->