<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title.blank? ? "Welcome to TrendHop!" : @page_title %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= yield :head %>
  <%#= render(:partial => "layouts/ie_stylesheets") %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div style="background: white;">
    <%= render :partial => "layouts/header" %>

    <div class="container">
      <div id="main_page">
        <%#= render :partial => "layouts/left_column/side_menu" %>
          <div class="sub_page">
            <%= yield %>
          </div>
        <div class="clear"></div>
      </div>
    </div>

  </div>
  <%= render :partial => "layouts/footer" %>
</body>
</html>
