<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title.blank? ? "Welcome to TrendHop!" : @page_title %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= yield :head %>
  <%#= render(:partial => "layouts/ie_stylesheets") %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="main-home-background" style="background: white;">
    <%= render :partial => "layouts/header" %>
    <div style="min-height: 800px" class="container_16">
        <div id="notice">
          <%if !notice.blank?%>
            <div class="flash"><%= notice %></div>
          <%end%>
        </div>
      <div class="clear"></div>
      <div id="page_title">
        <div class="cont1ainer_16 alpha beta">
          <%= yield :page_title %>
        </div>
      </div>
      <div id="main_page">
        <div class="grid_16 alpha beta top_section">
          <%= yield :top_section %>
        </div>
        <div class="clear"></div>
        <div class="grid_4 alpha">
          <%= render :partial => "layouts/left_column/left_menu" %>
        </div>
        <div class="grid_12 omega">
          <%= yield %>
        </div>
        <div style="width:80px" class="fl beta">
           <%= render :partial => "layouts/right_column/right_menu" %>
        </div>
        <div class="clear"></div>
      </div>
    </div>

  </div>
  <%= render :partial => "layouts/footer" %>
</body>
</html>
